#cd1{height:60vh;}
#cd2{height:60vh;}
#cd1:hover{
  filter: invert(80%);
}
#cd2:hover{
  filter: invert(80%);
}
#if1{height:40vh;}
#if2{height:40vh;}
#mdif1{height:60vh;}
#mdif2{height:60vh;}
.footer{
  background-color: Black;
  width: 100%;
  height:40vw;
  color: ghostwhite;
  padding: 5vw;
  position: relative;
}
.footertxtbk{
  text-align: center;
  width: 24%;
  display: inline-block;
}
.footericons{
  float: right;
  width: 20vw;
  padding-top: 2vw;
}
.footericons img{
  width: 15%;
}
.author{
  text-align: center;
  position: absolute;
  bottom: 0%;
  width: 100%;
}
hr{
  border:2px solid lightgrey;
}
@keyframes basic{
  50%{transform: rotate(0deg);}
  100% {transform: rotate(-360deg);}
}
#Basic{
  animation: basic infinite 5s;
}
