@keyframes slideshow {
  0% {margin-left : 0px; }
  10% {margin-left : 0px; }
  33.33% {margin-left : -100%; }
  43.33% {margin-left : -100%; }
  66.66% {margin-left : -200%; }
  76.66% {margin-left : -200%; }
}
@keyframes logo {
  0% {margin-left : 110%;}
  100% {margin-left :0%;}
}
@keyframes ttl1 {
  0% {margin-right : 110%;}
  100% {margin-right :0%;}
}
@keyframes ttl2 {
  0% {margin-bottom : 110%;}
  100% {margin-left :0%;}
}
* {
  margin:0px;
  padding:0px;
}
body {
  background-color:lightyellow;
  overflow-y: auto;
  overflow-x:hidden;
  padding:2%;
}
.heading{
  height:auto;
  position:relative;
}
.logo {
  width:15%;
  border: solid yellowgreen 2px;
  border-radius: 13%;
  box-shadow: 0px 0px 5px yellowgreen;
  animation: logo 2s;
}
.ttl1 {
  position:absolute;
  right:0%;
  top:5%;
  width:82%;
  height:60%;

  font:italic bold 5.9vw Palatino Linotype;
  text-align:left;
  display:block;
  margin:0px;
  padding-left:1.95%;
  color:darkgreen;
  animation: ttl1 2s;
}
.ttl2 {
  position:absolute;
  right:0%;
  bottom:5%;
  width:82%;
  font:bold 3vw Palatino Linotype;
  text-align:left;
  display:block;
  margin:0px;
  padding-left:2%;
  animation: ttl2 2s;
}
.ssbdimg1{
  background-color:red;
  width:100%;
  height:64vw;
  padding:0%;
  position:relative;
}
.frame{
  width: 100%;
  height: 4vw;
  overflow: hidden;
}
.slidewrapper{
  width: 300%;
  height: 100%;
  animation: slideshow 10s infinite;
}
.slide{
  width:33.33%;
  height:100%;
  float:left;
  text-align: center;
  padding-top:0.3%;
  margin:0px;
  font-size:1.5vw;
}
.slide:nth-child(1){
  background-color: orange;
}
.slide:nth-child(2){
  background-color: lightpink;
}
.slide:nth-child(3){
  background-color: lightblue;
}
.span1{
  font-weight:bold;
  font-size:2vw;
}
.span2{
  font-style:italic;
  font-size:1.3vw;
}
.hero1{
  width:100%;
  margin:0%;
  position:absolute;
  height:auto;
}
.hero1 img{
  width:100%;
  height:60vw;
}
.imgontxt1{
  text-align:center;
  background-color: grey;
  border: solid lightgrey 5px;
  position:absolute;
  left:15%;
  bottom:30%;
  width:30%;
  height:15%;
}
.imgontxt1 p{
  position:relative;
  top:30%;
  font-size:1.8vw;
}
.bdimg2txtbk{

  width:100%;
  height:32vw;
  position:relative;
}
.bdimg2txtbk img{
  width:auto;
  height:32vw;
  filter:hue-rotate(-30deg) contrast(130%) grayscale(0.5);
}
.imgontxt2{
  text-align:center;
  border: solid yellowgreen 0.1px;
  position:absolute;
  left:5%;
  bottom:55%;
  width:25%;
  height:30%;
}
.imgontxt2 p{
  position:relative;
  top:30%;
  font-size:1.8vw;
  color:white;
}
.txtbk{
  border: solid black 2px;
  width:50%;
  height:32vw;
  border: solid MediumSlateBlue 0.5px;
  position:absolute;
  right:0%;
  bottom:0%;
  background-image: linear-gradient(to top right, lavender, aliceblue, lightyellow);
}
.txtbk p{
  margin:4vw;
  color:yellowgreen;
  font-size:1.8vw;
}
.txtbk span{
  font-weight:bold;
  Font-size:2.3vw;
}
.lotionimgbk{
  height:60vw;
}
.bdlotion{
  font-size:1.8vw;
  width: 100%;
}
.lotioncards{
  width:33%;
  float: left;
  height:60vw;
  align:center;
}
.lotioncards img{
  width:100%;
  margin-top:10%;
}
.lotioncards p{
  text-align:center;
  display:block;
}
.gtsimgbk{
  height:60vw;
}
.bdgts{
  font-size:1.8vw;
  width: 100%;
}
.gtscards{
  width:33%;
  float: left;
  height:60vw;
  align:center;
}
.gtscards img{
  width:100%;
  margin-top:10%;
}
.gtscards p{
  text-align:center;
  display:block;
}
.gt{
  color:yellowgreen;
}
.bdmajor{
  font-weight:bold;
  font-size:2vw;
}
.minitxt{
  font-size:1.3vw;
}
.mdlbttn{
  display:inline-block;
  width:30%;
  height:3.3vw;
  position:relative;
  left:35%;
  top:2vw;
  font-size:1.3vw;
  background-color:black;
  color:white;
  border:none;
  text-decoration:none;
  text-align:center;
  padding-top:2.3vw;
}
.mdlbttn:hover{
  background-color:gray;
  color:black;
}
.modalwin{
  background-color:rgba(214, 214, 214, 0.5);
  padding:0px;
  margin:0px;
  position:fixed;
  top:0px;
  left:0px;
  right:0px;
  bottom:0px;
  z-index: 999;
  opacity:1;
  pointer-events:none;
  visibility: hidden;
}
.modalwin:target{
  opacity:1;
  pointer-events:auto;
  visibility: visible;
}
.mdlmain{
  background-color:ghostwhite;
  width: 70%;
  height: 70%;
  position: relative;
  top: 15%;
  left: 15%;
  overflow-y: auto;
  overflow-x: hidden;
}
.mdlinner {
  width: 90%;
  height: 90%;
  position: relative;
  top: 5%;
  left: 5%;
}
.mdlinner hr{
  border:2px solid lightgrey;
}
.mdlinner img{
  width:45%;
}
.mdltxtbk{
  width: 55%;
  height: 30vw;
  float: right;
  font-size: 1.8vw;
}
.mdltxtbk span{
  font-size:2.2vw;
}
.mdlbttmbk{
  background-color: lightgrey;
  width: 100%;
  margin-top: 2vw;
  padding-left: 20%;
  padding-right: 20%;
  position: relative;
  left: -20%;
}
.mdlbttmbk hr{
  border:2px solid ghostwhite;
}
.closingbtt{
  display: inline-block;
  text-decoration: none;
  background-color: ghostwhite;
  padding: 15px;
  color: black;
  text-align: center;
}
.closingX{
  display: inline-block;
  text-decoration: none;
  background-color: lightgrey;
  padding: 5px;
  color: black;
  text-align: center;
  position: absolute;
  top: 0%;
  right: 0%;
}
.clearfix{
  clear: both;
}
.footer{
  background-color: Black;
  width: 90%;
  height:40vh;
  color: ghostwhite;
  padding: 5vw;
  position: relative;
}
.footertxtbk{
  text-align: center;
  width: 24%;
  display: inline-block;
}
.footericons{
  float: right;
  width: 40%;
  padding-top: 5vh;
}
.footericons img{
  width: 15%;
}
.author{
  text-align: center;
  position: absolute;
  bottom: 0%;
  width: 100%;
}
