.menulist {
  width:25%;
  background-color: powderblue;
  float:left;
  padding: 0px 0px 0px 0px;
  float:left;
  margin: 20px;
}
.menulist ul {
  padding: 0px 0px 0px 0px;
  margin: 0px;
}
.menulist li {
  display:block;
  height: 100px;
  padding: 0px 0px 0px 0px;

}
.menulist a{
  vertical-align: middle;
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  height:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.menulist a:hover {
  background-color: red;
  color: white;
}
.quad img {
  float:left;
  width:30%;
  height:250px;
  border:1px solid red;
  border-radius: 5%;
  box-shadow: 5px 5px 5px orange;
  margin: 20px;
}
.quad {
  float:flex;
  padding: 0px 0px 0px 0px;
  margin:0px;
}
.quad div {
  float:left;
  width:30%;
  height:250px;
  border:1px solid red;
  text-align: center;
  box-shadow: 5px 5px 5px red;
  margin:20px;
}
