*{
  padding:0px;
  margin:0px;
}
@keyframes hour{
  100% {transform: rotate(30deg);}
}
@keyframes minute{
  100% {transform: rotate(270deg);}
}
.frame {
  width: 100%;
  height:auto;
  background-color:lightblue;
  position:relative;
}
.frame img{
  width:100%;
}
.hour {
  width:30%;
  height:10%;
  position:absolute;
  left:50%;
  top:44.7%;
  transform-origin:center left;
  animation: hour 10s infinite linear;
}
.minute img{
  width:100%;
  height:100%;
}
.minute{
  width:40%;
  height:8%;
  position:absolute;
  left:50%;
  top:45.5%;
  transform: rotate(-90deg);
  transform-origin:center left;
  animation: minute 10s infinite linear;
}
.hour img{
  width:100%;
  height:100%;
}
