

    .heading {
      background-color: black;
      overflow: hidden;
      width=100%;
    }

    .heading a {
      display: inline-block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 20px;

    }
    .heading a:hover {
      background-color: orange;
      color: white;
    }


    body{
      background-color:grey;
      margin: 0;
    }

    .tblstyle {
      border:2px solid black;
      background-color:yellow;
    }
    .tblstyle td {
      background-color:lightpink;
      text-align:center;
    }
    .tblstyle th {
      width:100px
    }
    .imgclass {
      float:left;
      margin-left:10%;
      width:30%;
      border:2px solid black;
      border-radius: 5%;
    }
    .txt1 {
      background-color:hotpink;
      font-family:Arial;
      width:30%;
      float:right;
      margin-right:18%;
      margin-top:0%;
      margin-bottom:0%;
    }
    .txt2 {
      background-color:pink;
      font-family:courier;
      width:30%;
      float:right;
      margin-right:18%;
      margin-top:0%;
      margin-bottom:0%;
    }
    .txt3 {
      background-color:lightpink;
      font-family:corsivar;
      width:30%;
      float:right;
      margin-right:18%;
      margin-top:0%;
      margin-bottom:0%;
    }
    .footing {
      background-color: black;
      overflow: hidden;
      position: fixed;
      bottom: 0;
      width:100%;
    }
    .footing a {
      display: inline-block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 20px;
    }

    .footing a:hover {
      background-color: orange;
      color: white;
    }

    .button1 {
      border:none;
      border-radius:10%;
      width:15%;
      height:50px;
      float:right;
      margin-right:25.5%;
      margin-top:30px;
      background-color:orange;
      color:white;
    }
