* {
  padding: 0px;
  margin: 0px 0px 0px 0px;
}
body{
  background-color: rgba(255, 99, 71, 1);
}
.heading {
  background-color: powderblue;
  margin: 0px;
  padding: 0px;
}

.external{
  position:relative;
}
.external img {
  width:60%;
  margin: 10% 20%;
  filter: invert(70%) blur(1px);

}
.internal {
  position: absolute;
  top:30%;
  left:25%;
  background-color: rgba(200, 100, 100, 0.5);
  height:50px;
  width:25%;
  padding: 0px;

}
.internal p {

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:white;
}
.intbutton {
  position : absolute;
  bottom: 25%;
  right: 25%;
  background-color: rgba(255, 100, 100, 0.8);
  width: 8%;
  height: 4%;
  border: solid black 1px;
  border-radius: 5px;
}
